@import "susy";

$susy: (
        flow: ltr,
        math: fluid,
        output: float,
        gutter-position: after,
        container: 960px,
        container-position: center,
        columns: 12,
        gutters: 1/6,
        column-width: fluid,
        global-box-sizing: border-box,
        last-flow: to,
        debug: (
                image: show,
                color: rgba(#66f, .25),
                output: background,
                toggle: top right,
        ),
        use-custom: (
                background-image: true,
                background-options: true,
                box-sizing: true,
                clearfix: true,
                rem: true,
        )
);

$large: layout(80em 24 1/4 inside);
